{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/featherlight/release/featherlight.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}
    <body>
    {% include 'home/header.html.twig' %}
    {% include 'home/profile.html.twig' %}
    {% include 'home/experiences.html.twig' %}
    {% include 'home/skills.html.twig' %}
    {% include 'home/portfolio.html.twig' %}
    {% include 'home/contact.html.twig' %}
    {% include 'home/footer.html.twig' %}
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- hand coded page script -->
    <script src="{{ asset('assets/js/homepage.js') }}"></script>
    <!-- /hcps -->
{% endblock %}