<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Portfolio</h2>
                <div class="row">
                    <div id="tag-container" class="col-md-12 text-center">
                        <h4>
                            <span class="clickable tag tag2">{{ projectCats[2] }}</span>
                            <span class="clickable tag tag1">{{ projectCats[1] }}</span>
                            <span class="clickable tag tag8">{{ projectCats[8] }}</span>
                            <span class="clickable tag tag6">{{ projectCats[6] }}</span>
                            <span class="clickable tag tag4">{{ projectCats[4] }}</span>
                            <span class="clickable tag tag9">{{ projectCats[9] }}</span>
                            <span class="clickable tag tag5">{{ projectCats[5] }}</span>
                            <span class="clickable tag tag3">{{ projectCats[3] }}</span>
                            <span class="clickable tag tag10">{{ projectCats[10] }}</span>
                            <span class="clickable tag tag11">{{ projectCats[11] }}</span>
                            <span class="clickable tag tag7">{{ projectCats[7] }}</span>
                            <span class="clickable tag tag12">{{ projectCats[12] }}</span>

                            <hr>

                            <a id="rz"><span>RÀZ !</span></a>
                        </h4>
                    </div>
                </div>
                <hr>
                <div id="mason-container">
                    {% for project in projects %}
                        {% for image in project.images %}
                            <div class="box {% if project.ratios[loop.index0] == 22 %}
mason-large
{% elseif project.ratios[loop.index0] == 12 %}
mason-wide
{% elseif project.ratios[loop.index0] == 21 %}
mason-tall
{% endif %}">
                                <img src="{{ asset('assets/images/projects/')~image }}" class="imjj">
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <p class="space">.</p>
            </div>
        </div>
    </div>
</section>
